@import 'variables';
.slides {
  position: relative;
  min-height: 500px;
  width: 40%;
  border: 1px solid #ccc;
  padding: 0px;
  margin: 60px auto;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.5);
  @include lg {
    width: 80%;
    box-shadow: none;
  }
}
.container {
  max-width: 100%;
  padding-top: 20px;
}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  font-size: 1.2em;
}
.active {
  opacity: 1;
  z-index: 2;
}
.item-slide__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.item-slide__description {
  @include sm {
    font-size: 1em;
  }
  @include xs {
    font-size: 1.3em;
    padding: 0 25px 0 25px;
  }
}
.item-slide__option {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.indicators {
  position: absolute;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 1em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  min-height: 600px;
  width: 75%;
  align-items: end;
}

.controls {
  position: absolute;
  z-index: 3;
  margin-bottom: 50px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: 0.5s;
  .control-prev {
    padding-right: 80px;
    padding-left: 20px;
  }
  .control-next {
    padding-left: 80px;
    padding-right: 20px;
  }
}
.prev,
.next,
.pause-play {
  &:hover,
  &:focus {
    color: rgba(14, 196, 84, 0.5);
  }
}
.prev,
.next {
  color: black;
  font-size: 2.8rem;
}
.prev {
  padding-left: 50px;
}
.next {
  padding-right: 50px;
}
.pause-play {
  font-size: 2.5rem;
}
.indicator {
  width: 35px;
  height: 5px;
  background-color: rgba(104, 8, 239, 0.2);
  cursor: pointer;
  &.active {
    background-color: rgba(14, 196, 84, 0.5);
  }
}
// header
.fa-apple {
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

input[id='menuExtend'] {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(255, 0, 0, 0.1);
}
header .row {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2vw;
}
header div,
header nav {
  display: flex;
}
header .col {
  align-items: center;
}
header a {
  text-decoration: none;
}
header #menubar {
  height: 4vw;
  min-height: 60px;
  justify-content: space-between;
}
header #menubar #logo {
  color: #fff;
  font-size: 1.8em;
  padding-left: 20px;
}
header #menubar label[for='menuExtend'] {
  width: 12.5vw;
  max-width: 60px;
  min-width: 45px;
  height: 100%;
  position: relative;
}
header #menubar label[for='menuExtend'] span {
  font-size: 0;
  width: 60%;
  height: 6%;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #menubar label[for='menuExtend'] span:before,
header #menubar label[for='menuExtend'] span:after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  transition: transform 0.2s ease-out, top 0.2s 0.2s ease-out;
}
header #menubar label[for='menuExtend'] span:before {
  top: -300%;
}
header #menubar label[for='menuExtend'] span:after {
  top: 300%;
}
header #navbar nav a {
  color: #fff;
  font-size: 1.4rem;
  transition: 0.2s ease-out;
}
header #navbar nav a:hover,
header #navbar nav a.on {
  color: #c4caff;
}
header #navbar #links a {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.75);
  transition: 0.2s ease-out;
}
header #navbar #links a:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}
header #navbar #links a img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #navbar #links a + a {
  margin-left: 1rem;
}

@media (min-width: 767px) {
  header > div {
    align-items: center;
    justify-content: space-between;
  }
  header label[for='menuExtend'] {
    display: none;
  }
  header #navbar nav a {
    margin-left: 1em;
  }
  header #navbar #links {
    margin-left: 2.5em;
  }
}
@media (max-width: 767.98px) {
  header > div {
    flex-direction: column;
  }
  header #navbar {
    flex: 1;
    flex-direction: column;
    padding: 20vw 10vw;
    display: none;
  }
  header #navbar > * {
    width: 100%;
    justify-content: center;
  }
  header #navbar nav a {
    margin-bottom: 1em;
  }
  header #navbar #links a + a {
    margin-left: 5vw;
  }

  input[id='menuExtend']:checked + header {
    height: 100%;
    max-height: initial;
    background: linear-gradient(
      to right,
      #b1939d 0%,
      #a27f9d 25%,
      #797ab0 50%,
      #607fb6 75%,
      #5787af 100%
    );
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  input[id='menuExtend']:checked + header #menubar #logo {
    opacity: 0;
    pointer-events: none;
    transition: none;
  }
  input[id='menuExtend']:checked + header #menubar label[for='menuExtend'] span {
    background-color: transparent;
  }
  input[id='menuExtend']:checked + header #menubar label[for='menuExtend'] span:before,
  input[id='menuExtend']:checked + header #menubar label[for='menuExtend'] span:after {
    top: 0;
    transition: top 0.3s ease-out, transform 0.3s 0.3s ease-out;
  }
  input[id='menuExtend']:checked + header #menubar label[for='menuExtend'] span:before {
    transform: rotate(45deg);
  }
  input[id='menuExtend']:checked + header #menubar label[for='menuExtend'] span:after {
    transform: rotate(-45deg);
  }
  input[id='menuExtend']:checked + header #navbar {
    display: flex;
  }
  input[id='menuExtend']:checked + header #navbar nav {
    font-size: 1.875rem;
    flex-direction: column;
    margin-bottom: 5vh;
  }
}
//footer
.footer-content {
  height: 2px;
  clear: both;
  display: flex;
  justify-content: space-around;
}

.footer {
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.footer-left,
.footer-center,
.footer-right {
  width: 100%;
  color: #ffffff;
  padding: 20px;
}
/* Footer left */

.footer-links a {
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

/* Footer Center */
.footer-center {
  text-align: left;
  &__location {
    margin-top: 10px;
  }
}
.footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-center p a {
  color: white;
  text-decoration: none;
}

.footer-links a:before {
  content: '|';
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 20px;
  text-align: left;
}

.footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.footer-icons {
  text-align: left;
  padding: 20px;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  margin-bottom: 5px;
}
// media query
@media (max-width: 955px) {
  .footer-content {
    flex-wrap: wrap;
  }
  .footer-left {
    width: 100%;
    padding-bottom: 0;
  }
  .footer-center,
  .footer-right {
    width: 45%;
  }
  #footer-copyright {
    top: 1050px;
  }
}
@media (max-width: 710px) {
  .footer-center,
  .footer-right {
    width: 100%;
  }
  #footer-copyright {
    top: 1250px;
  }
  .footer-icons a {
    margin-right: 10px;
  }
}

.cf:after {
  clear: both;
}
#footer-copyright {
  position: absolute;
  left: 0;
  top: 960px;
  width: 100%;
  display: block;
  background: #fff;
}
#footer-copyright span {
  display: table;
  color: #999;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  margin: auto;
  z-index: 99;
}
